* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    margin: auto;
    width: 100%;
    
}

body {
    
    background-color: rgb(44, 54, 71);
    color: #f7f8f8;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    height: 100vh; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100vw;

    
}

#serviceBox {

    border: 2px solid rgb(67, 69, 70);
    border-radius: 10px;
    width: 85%;
    max-width: 500px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(38, 41, 41);
    max-height: 820px; 
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    
    



}

#serviceBox ul {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px; 
}


.services {
    
    flex: 0 0 calc(50% - 10px); 
    margin-bottom: 10px; 
    color: #f7f8f8;
    padding: 5px;
    margin-right: 0;
    margin-left: 10px;
}



.navContainer {
    
    color: #f7f8f8;
    text-decoration: none;
    margin-right: 20px;
    justify-content: flex-start;
    padding: 10px;
    
    

}


footer {

    margin-top: auto;
    padding: 10px;
}

#description {

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100px;
    flex-wrap: wrap;
    max-width: 400px;
}

#fname, #lname, #phone, #email, #make, #model, #year, #city, #availibility, #description, #havePartsYes, #havePartsNo {

    width: 300px;
    margin-left: 25px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    
}

.checkbox-group {
    display: flex;
    align-items: center;
    max-width: 200px;
    padding: 10px;
  }
  
  

#contactForm {

    border: 2px solid rgb(67, 69, 70);
    border-radius: 10px;
    max-width: 500px;
    width: 85%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    background-color:rgb(38, 41, 41);
    height: 830px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000; 

    
    
}

label {

    margin-left: 20px;
   
    
}

.about {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(67, 69, 70);
    border-radius: 10px;
    width: 85%;
    max-width: 530px;
    margin-top: 30px;
    background-color: rgb(38, 41, 41);
    padding: 20px; 
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    overflow: hidden; 
    min-height: 700px; 

}



.missionStatement {
    justify-content: flex-start;
    font-size: 12px;
    color: rgb(255, 255, 255);
    
}

.aboutMe {
    justify-content: flex-end;
    align-items: flex-start; 
    text-indent: 30px; 
    margin: 20px 0; 
    
}

.aboutMe p {
    margin: 10px 0; 
}




a {
	color: rgb(235, 240, 241);
	text-decoration-color: rgb(211, 12, 12);
	text-underline-offset: 0.25em;
	text-decoration-thickness: 0.1em;
}

.topBar  {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    background-color: #000000;
    width: 100%;
    height: 20vh;
    padding: 5px;
    
}

.topBar a {
    margin: 0 10px;
    

    
}

.instaQR img {

    width: auto;
    height: 60px;
    
}

.nmotionLogo {
    width: 220px;
    height: auto;
}

.selfInsert {
    height: auto;
    width: 250px;
    padding: 10px;
}

